body {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 24px;
    color: #FF6600; /* couleur inspirée du logo d'Orange */
    text-align: center;

}

p {
    font-size: 16px;
    color: #333333;
}

body{
  margin: 0;
}

nav{
    text-align: center;
    padding: 30px;
    background-color: black;
    margin: auto;
  }
  nav a{
    margin-right: 5%;
    text-decoration: none;
    color: orange;
    justify-content: space-between;
    font-size: 20px;
    overflow: hidden;
  }
  nav a img{
    z-index: 100;
    position:absolute;
    margin-left: -50px;
    margin-top: -15px;
  }
  nav a:hover{
    background-color: grey;
  }
.corps{
    margin-left:10px;
}


/*footer*/
/* Footer */
.footer {
    background-color: #f27900;
    padding: 70px 0;
    width: 100vw; /* Prend 100% de la largeur de l'écran */
    margin-left: calc(50% - 50vw); /* Centre le footer pour compenser */
}

.footer-col {
    width: 25%;
    padding: 0 15px;
    display: inline-block; /* Permet aux colonnes d'être côte à côte */
    vertical-align: top; /* Aligne les colonnes en haut */
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #000000;
    height: 2px;
    box-sizing: border-box;
    width: 200px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(57, 33, 33, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* Section Copyright */
.copyright {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px; 
    padding: 10px 0; 
}

.copyright h5 {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
}

/* Responsive */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* Centre le texte du menu */
.menu-4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
