body {
    font-family: Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 24px;
    color: #FF6600;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333333;
}

body {
    margin: 0;
}

nav {
    text-align: center;
    padding: 30px;
    background-color: black;
    margin: auto;
}

nav a {
    margin-right: 5%;
    text-decoration: none;
    color: orange;
    justify-content: space-between;
    font-size: 20px;
}

nav a img {
    z-index: 100;
    position: absolute;
    margin-left: -50px;
    margin-top: -15px;
}

nav a:hover {
    background-color: grey;
}

.timeline-container {
    position: relative;
    margin: 100px 0;
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 50%;
    top: -50px; /* Commence avant la première date */
    height: calc(100% + 50px); /* Pour que la ligne prenne toute la hauteur plus le décalage du haut */
    width: 2px;
    background-color: #FF6600;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    position: relative;
    /* Ajouter un alignement centré pour le texte et l'image */
    align-items: center;
}

.timeline-date-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF6600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.timeline-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Centrer verticalement par rapport au cercle de date */
    display: flex;
    align-items: center;
}

.timeline-image-container {
    width: 40%;
    display: flex;
    justify-content: center;
    /* Centrer verticalement par rapport au cercle de date */
    display: flex;
    align-items: center;
}

.timeline-image {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

/* Inverser les éléments texte et image pour les éléments pairs */
.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

/* Footer */
.footer {
    text-align: center;
    background-color: black;
    padding: 20px 0;
    color: white;
}

.footer-col {
    margin: 20px 0;
}

.footer-col h4 {
    font-size: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 5px 0;
}

.footer-col a {
    color: white;
    text-decoration: none;
}

.social-links a {
    margin: 0 10px;
}

@media (max-width: 767px) {
    .timeline-item {
        flex-direction: column;
        align-items: center;
    }

    .timeline-image {
        width: 100px;
        height: 100px;
    }

    .timeline-text {
        width: auto;
        margin: 10px 0;
    }
}
